nav{
    margin-bottom: 10px;
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            font-family: 'Bebas', sans-serif;
        }
    }
}